.btn {
  @apply inline-block font-primary font-semibold md:font-bold border px-5 py-3 md:px-7 md:py-4 leading-[18px] transition-all content-center;

  &:disabled {
    @apply cursor-not-allowed bg-gray-300;
  }
}

.btn-primary {
  @apply text-white border-transparent z-[1] rounded-[30px] relative hover:shadow-[linear-gradient(90deg,rgba(122,85,175,1)_0%,rgba(44,123,202,1)_90%)] transition-all;

  &::after {
    @apply w-full h-full rounded-full absolute left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%] content-[''] transition-all duration-300 ease-in-out -z-[1] bg-gradient;
  }

  &:hover {
    &::after {
      @apply scale-[1.05] bg-gradient;
    }
  }

  &:disabled {
    &::after {
      @apply hidden;
    }
  }
}

.btn-outline-primary {
  @apply bg-gradient bg-clip-text text-transparent border-transparent z-[1] rounded-[30px] relative hover:shadow-[linear-gradient(90deg,rgba(122,85,175,1)_0%,rgba(44,123,202,1)_90%)] transition-all;

  &::after {
    @apply w-full h-full rounded-full absolute left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%] content-[''] transition-all duration-300 ease-in-out -z-[1];
  }

  &:hover {
    @apply text-white;

    &::after {
      @apply scale-[1.03] bg-gradient;
    }
  }
}
