.header {
@apply w-full bg-white/50 fixed top-0 border-b backdrop-blur-lg z-10;
}

// navbar items
.navbar {
  @apply relative flex flex-wrap items-center justify-between;
}

.navbar-brand {
  @apply text-xl font-semibold text-dark;

  image {
    @apply max-h-full max-w-full;
  }
}

.navbar-nav {
  @apply text-center md:text-left min-h-[70px];
}

#nav-menu {
  @apply w-full overflow-hidden md:max-h-full md:w-auto;
}

.nav-item {
  select:focus {
    box-shadow: none;
  }
}

.nav-link {
  @apply py-3 px-2 font-primary text-base font-bold text-dark transition min-w-[80px] text-center content-center h-full relative before:absolute before:left-0 before:bottom-0 before:content-[''] before:w-full before:bg-gradient before:rounded-full before:h-1 before:scale-x-0 before:transition-all before:duration-500 hover:before:scale-x-100;

  &-active {
    @apply before:scale-x-100;
  }
}
